.bottom-circle {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(-180deg, transparent 50%, #9771ca 50%);
  border-radius: 100%;
  margin-left: -12px;
}
.top-circle {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(-180deg, #9771ca 50%, transparent 50%);
  border-radius: 100%;
  margin-left: -12px;
}

@media (max-width: 1024px) {
  .bottom-circle {
    width: 200;
    height: 200px;
    /* background-image: linear-gradient(-135deg, #9771ca 50%, transparent 50%); */
    /* margin-left: -12px; */
    /* margin-bottom: -8px; */
  }
  .top-circle {
    width: 200px;
    height: 200px;
    /* background-image: linear-gradient(-135deg, transparent 50%, #9771ca 50%); */
    /* margin-left: -10px; */
    /* margin-bottom: -8px; */
  }
}

@media (max-width: 768px) {
  .bottom-circle {
    /* width: 150px; */
    height: 150px;
    /* background: #000; */
    /* margin-left: 0; */
  }
  .top-circle {
      height: 150px;
       /* margin-left: 1px; */
  }
}

@media (max-width: 425px) {
  .bottom-circle {
    width: 180px;
    height: 180px;
    background-image: linear-gradient(-90deg, #9771ca 50%, transparent 50%);
    margin-bottom: -10px;
  }
  .top-circle {
    width: 180px;
    height: 180px;
    background-image: linear-gradient(-90deg, transparent 50%, #9771ca 50%);
    margin-bottom: -10px;
  }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}