.react-calendar {
  width: 400px;
  max-width: 100%;
  background: white;
  border: none !important;
  filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.12));
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  line-height: 1.125em;
  padding: 10px 10px;
}

.react-calendar__tile--now {
  color: #fff !important;
  background: #8b64be !important;
  border-radius: 10px;
}

abbr[title] {
  text-decoration: none !important;
}

.react-calendar__tile--active {
  background: #bb9de2 !important;
  color: white;
  border-radius: 10px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f6f0ff;
  border-radius: 10px;
}

.highlight-event {
  background-color: #ba94ec !important;
  color: white !important;
  border-radius: 10px;
  margin: 2px 0 !important
}
