.underline-animation::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Push it slightly below text */
  left: 0;
  height: 4px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.marquee-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: transparent !important;
  padding: 0.5rem;
  color: black;
  border-radius: 0.5rem;
}

.label {
  background-color: #231338;
  color: #fefdff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
}

.label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px; /* moves arrow outside */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid #231338; /* arrow color */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 5rem;
}

.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 400s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin-right: 2rem;
  white-space: nowrap;
}

/* Keyframes to scroll left */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* hero */
.hero {
  background-image: url("./assets/boxes.svg") !important;
  object-fit: cover;
}

/* default button */
.system-btn {
  background: linear-gradient(273.52deg, #573881 75.63%, #9771ca 91.61%);
  box-shadow: 62px 4px 83px 7px rgba(87, 56, 129, 0.18);
  border-radius: 30px;
  padding: 10px 20px;
  color: #fefdff;
  transition: transform 0.9s ease;
  cursor: pointer;
  width: fit-content;
}

.system-btn:hover {
  transform: translateY(-5px);
}

/* stats */
.stats {
  background-image: url("./assets/home/stats_bg.png");
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 400px;
  position: relative;
  border-radius: 23px;
}

.stats::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(51, 51, 51, 0.83);
  border-radius: 23px;
}
.tag {
  position: relative;
  padding-bottom: 10px;
}
.tag::after {
  content: "";
  position: absolute;
  width: calc(100% - 90%);
  height: 5px;
  background-color: currentColor;
  bottom: 0;
  left: 0;
}

/* vertical tags */
.vertical-tag {
  position: relative;
  padding-left: 20px;
}
.vertical-tag::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: #dcceee;
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  .vertical-tag {
    padding-left: 10px;
  }
}

/* home page career */
.box-container {
  background-image: url("./assets/boxes.svg");
  object-fit: cover;
  width: 100%;
}
/* transparent hero bg */
.box-container-transparent {
  background-image: url("./assets/boxes-transparent.png");
  object-fit: cover;
  width: 100%;
}

/* slider pagination */
.swiper-pagination {
  right: 20px !important; /* move to right side */
  left: auto !important; /* disable left positioning */
  top: 50% !important; /* center vertically */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; /* stack dots vertically */
  gap: 10px; /* spacing between dots */
}

.swiper-pagination-bullet {
  background: #000; /* black bullets (you can change) */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #6b21a8; /* purple active dot (example) */
  opacity: 1;
}

.transparent-hero {
  background: linear-gradient(249.19deg, #f6f0ff 2.16%, #9771ca 54.55%);
  border-radius: 10px;
}

/* chairman overlay */
.chairman-img::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: red;
  left: 0;
  top: 0;
}
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .para {
  z-index: 1;
  opacity: 0.8;
  /* font-size: 18px; */
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::before {
  content: "";
  position: absolute;
  height: 160%;
  width: 160%;
  border-radius: inherit;
  background: #fefdff;
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
  background-color: #573881;
}

.card:hover .content .heading,
.card:hover .content .para {
  color: #000000;
}

.card:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
